## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

Ibrahim Salim

Full time Hybrid student

Deadline submission: 28th March 2025 at 6p.m

Samwel Karu

# *Step 1* Load the Dataset

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("data/Aviation_Data.csv")

# *Step 2* Understand the Data

In [3]:
#This is a user defined function that helps you understand the data 
def inspect_dataset(path):
    df=pd.read_csv(path)
    print('--------data info------')
    print(df.info())
    print('--------data describe-------')
    print(df.describe())
    print('-------data shape----')
    print(df.shape)
    return inspect_dataset

In [4]:
inspect_dataset("data/Aviation_Data.csv")

--------data info------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88889 non-null  object
 5   Country                 88889 non-null  object
 6   Airport.Code            88889 non-null  object
 7   Airport.Name            88889 non-null  object
 8   Injury.Severity         88889 non-null  object
 9   Aircraft.damage         88889 non-null  object
 10  Registration.Number     88889 non-null  object
 11  Make                    88889 non-null  object
 12  Model                   88889 non-null  object
 13  Amateur.Built           88889 non-null  bool
 14  Number.of.Engines       88889 non-null  float64
 15  Engine.Type             88889 non-null  object
 16  Purpose.of.flight       88889 non-null  object
 17  Total.Fatal.Injuries    88889 non-null  float64
 18  Total.Serious.Injuries  88889 non-null  float64
 19  Total.Minor.Injuries    88889 non-null  float64
 20  Total.Uninjured         88889 non-null  float64
 21  Weather.Condition       88889 non-null  object
 22  Broad.phase.of.flight   88889 non-null  object
 23  Report.Status           88889 non-null  object
 24  Publication.Date        88889 non-null  object
 25  Event.Year              88889 non-null  int64
dtypes: bool(1), float64(5), int64(1), object(19)
memory usage: 17.0+ MB
None
--------data describe-------
       Number.of.Engines  Total.Fatal.Injuries  Total.Serious.Injuries  \
count       88889.000000          88889.000000            88889.000000
mean            1.136552              0.564761                0.240491
std             0.432545              5.126649                1.434614
min             0.000000              0.000000                0.000000
25%             1.000000              0.000000                0.000000
50%             1.000000              0.000000                0.000000
75%             1.000000              0.000000                0.000000
max             8.000000            349.000000              161.000000

       Total.Minor.Injuries  Total.Uninjured    Event.Year
count          88889.000000     88889.000000  88889.000000
mean               0.309127         4.971245   1999.206662
std                2.083715        27.002011     11.888226
min                0.000000         0.000000   1948.000000
25%                0.000000         0.000000   1989.000000
50%                0.000000         1.000000   1998.000000
75%                0.000000         2.000000   2009.000000
max              380.000000       699.000000   2022.000000
-------data shape----
(88889, 26)

# *Step 3* Check and Handle missing values

In [5]:
df.head() #This gives the first 5 rows of the dataset

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,...,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Event.Year
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,Unknown,Unknown,Fatal(2),Destroyed,...,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,unknown,1948
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,Unknown,Unknown,Fatal(4),Destroyed,...,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,1996-09-19,1962
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,Unknown,Unknown,Fatal(3),Destroyed,...,Personal,3.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,2007-02-26,1974
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,Unknown,Unknown,Fatal(2),Destroyed,...,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,2000-12-09,1977
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,Unknown,Unknown,Fatal(1),Destroyed,...,Personal,1.0,2.0,0.0,0.0,VMC,Approach,Probable Cause,1980-04-16,1979

In [6]:
df.isnull().sum() #it checks for missing (NaN) values in each column of your DataFrame and returns a count of missing values per column.

Event.Id                  0
Investigation.Type        0
Accident.Number           0
Event.Date                0
Location                  0
Country                   0
Airport.Code              0
Airport.Name              0
Injury.Severity           0
Aircraft.damage           0
Registration.Number       0
Make                      0
Model                     0
Amateur.Built             0
Number.of.Engines         0
Engine.Type               0
Purpose.of.flight         0
Total.Fatal.Injuries      0
Total.Serious.Injuries    0
Total.Minor.Injuries      0
Total.Uninjured           0
Weather.Condition         0
Broad.phase.of.flight     0
Report.Status             0
Publication.Date          0
Event.Year                0
dtype: int64

In [ ]:


# Calculate missing percentages
missing_percentage = (df.isnull().sum() / len(df)) * 100

# Display missing values sorted in descending order
print(missing_percentage.sort_values(ascending=False))

**Above is a percentile output of the missing values per column and as per personal research and decision any value above 50% was dropped using the code below**

In [ ]:
high_missing_values=['Schedule','Air.carrier','FAR.Description','Aircraft.Category','Longitude','Latitude']

df_cleaned=df.drop(columns=high_missing_values)

Below are the columns with a percentage ranging from 30% - 40% the *fillna* method was used to fill both numerical and categorical data

In [ ]:
for col in ['Airport.Code', 'Airport.Name']:
    df_cleaned[col].fillna('Unknown', inplace=True)

df_cleaned['Broad.phase.of.flight'].fillna(df_cleaned['Broad.phase.of.flight'].mode()[0], inplace=True)

df_cleaned.head()

In [ ]:
# Fill categorical values with 'Unknown'
categorical_cols = ['Engine.Type', 'Report.Status', 'Purpose.of.flight', 'Weather.Condition','Injury.Severity','Publication.Date']
for col in categorical_cols:
    df_cleaned[col].fillna('Unknown', inplace=True)

# Fill numerical columns with 0 (assuming missing means no injury)
low_cols = ['Total.Fatal.Injuries', 'Total.Serious.Injuries']
for col in low_cols:
    df_cleaned[col].fillna(0, inplace=True)

In [ ]:
# Fill remaining missing values with mode
remaining_cols = ['Aircraft.damage', 'Registration.Number', 'Country', 'Make', 'Model', 'Location','Amateur.Built','Number.of.Engines']
for col in remaining_cols:
    df_cleaned[col].fillna(df_cleaned[col].mode()[0], inplace=True)

In [ ]:
print(f"Missing values after cleaning are:\n{df_cleaned.isnull().sum()}") #use of a format string to check output of missing values in the various columns.

In [ ]:
injury_cols = ['Total.Minor.Injuries', 'Total.Uninjured'] # a list of remaining columns with numerical missing values
df_cleaned[injury_cols] = df_cleaned[injury_cols].fillna(0) #assuming missing means not injured we replace with 0

df_cleaned.dropna(subset=['Accident.Number','Event.Id','Event.Date'],inplace=True)# removes any rows where at least one of these key columns is missing:

In [ ]:
print(f'Total duplicated rows are:{ df_cleaned.duplicated().sum()}')
print(f'After counter-checking the missing values are:\n{df_cleaned.isnull().sum()}')

#  *Step 4*  Standardise Data Formats

In [ ]:
date_cols = ['Event.Date', 'Publication.Date'] 
df_cleaned[date_cols] = df_cleaned[date_cols].apply(lambda x: pd.to_datetime(x, errors='coerce').dt.strftime('%Y-%m-%d')) 

# Convert 'Event.Date' and 'Publication.Date' columns to datetime format and standardize them to 'YYYY-MM-DD'
# - `pd.to_datetime(x, errors='coerce')` converts values to datetime format, replacing invalid values with NaT.
# - `.dt.strftime('%Y-%m-%d')` formats the dates in a consistent way (YYYY-MM-DD).

In [ ]:
std_columns=['Country','Aircraft.damage','Injury.Severity','Make']

for std in std_columns:  
    # Convert text to lowercase using .str.lower() to ensure uniform formatting
    # Remove any leading or trailing spaces using .str.strip() to avoid duplicate categories
    df_cleaned[std].str.lower().str.strip()

df_cleaned['Make'] = df_cleaned['Make'].str.lower()

In [ ]:
df_cleaned['Amateur.Built'] = df_cleaned['Amateur.Built'].str.lower().map({'yes': True, 'no': False}) #converts categorical text into boolean

In [ ]:
numeric_cols = ['Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured']
df_cleaned[numeric_cols] = df_cleaned[numeric_cols].apply(pd.to_numeric, errors='coerce')
#apply(pd.to_numeric) → Converts each column in numeric_cols to numeric format (integers or floats).
#errors='coerce' → Replaces any invalid (non-numeric) values with NaN instead of raising an error.

In [ ]:
df_cleaned.info()

In [ ]:

print(f'Counter check 2; the missing values are:\n{df_cleaned.isnull().sum()}')

In [ ]:
df_cleaned['Publication.Date'].fillna('unknown',inplace=True)
print(f'The Final Counter check .\n The missing values are:\n{df_cleaned.isnull().sum()}')

# *step 5* Visualization of Data

In [ ]:
df_cleaned.columns

> ### Yearly Aviation Accidents Trend

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Extract year from Event.Date
df_cleaned['Event.Year'] = pd.to_datetime(df_cleaned['Event.Date'], errors='coerce').dt.year

# Count accidents per year
accidents_per_year = df_cleaned.groupby('Event.Year').size().reset_index(name='Accident Count')

# Plot
plt.figure(figsize=(12, 6))
sns.lineplot(x='Event.Year', y='Accident Count', data=accidents_per_year, marker='o', color='b')

# Labels & Title
plt.xlabel('Year')
plt.ylabel('Number of Accidents')
plt.title('Yearly Aviation Accidents Trend')
plt.grid(True, linestyle='--', alpha=0.7)

# Show plot
plt.show()

The above line plot reflects on the  number of Aviation accidents per year which shows a **downward trend** highlghting the importance of safety.

>> ### Top 10 Countries with Most Aviation Accidents

In [ ]:
accident_count_country = df_cleaned.groupby('Country').size().reset_index(name='Accident Count')

plt.figure(figsize=(15,6))
top_countries = accident_count_country.sort_values(by='Accident Count', ascending=False).head(10)  # Top 10 countries

sns.barplot(x='Accident Count', y='Country', data=top_countries, palette='Blues_r')

plt.xlabel('Number of Accidents')
plt.ylabel('Country')
plt.title('Top 10 Countries with Most Aviation Accidents')
plt.grid(axis='x', linestyle='--', alpha=0.7)
plt.show()

The bar chart shows the countries with most aviation accidents in recent times with U.S.A topping the chart.The U.S. tops the list due to its massive aviation industry, strong reporting, and general aviation sector. It doesn’t mean it’s the most dangerous—it just has the highest flight volume and best reporting transparency.

>>> ### Top 10 Aircraft Types Involved in Accidents

In [ ]:
plt.figure(figsize=(12, 6))

# Count of accidents by Aircraft Make
aircraft_accidents = df_cleaned['Make'].value_counts().head(10).reset_index()
aircraft_accidents.columns = ['Aircraft Make', 'Accident Count']

# Plot
sns.barplot(x='Accident Count', y='Aircraft Make', data=aircraft_accidents, palette='viridis')

# Labels & Title
plt.xlabel('Number of Accidents')
plt.ylabel('Aircraft Manufacturer')
plt.title('Top 10 Aircraft Types Involved in Accidents')
plt.grid(axis='x', linestyle='--', alpha=0.7)

plt.show()

Cessna recorded the highest number of accidents in the dataset.

Mooney had the least accidents among the top 10 manufacturers

>>>> ### Accidents by Flight Phase

In [ ]:

plt.figure(figsize=(12, 6))

# Count of accidents per flight phase
flight_phase_accidents = df_cleaned['Broad.phase.of.flight'].value_counts().reset_index()
flight_phase_accidents.columns = ['Flight Phase', 'Accident Count']

# Plot
sns.barplot(x='Accident Count', y='Flight Phase', data=flight_phase_accidents, palette='magma')

# Labels & Title
plt.xlabel('Number of Accidents')
plt.ylabel('Flight Phase')
plt.title('Accidents by Flight Phase')
plt.grid(axis='x', linestyle='--', alpha=0.7)

plt.show()

Our analysis shows that [most accidents occur during **Takeoff/Landing/Cruise**]. This presents a major safety risk in aviation. Our startup can address this by developing [automated safety solutions/pilot training enhancements/real-time monitoring tools]. This will reduce accident rates, improve operational efficiency, and position us as a leader in aviation safety innovation."

In [ ]:
df_cleaned.to_csv("Aviation_Data.csv", index=False) #converts the DataFrame df_cleaned into a csv file saved under Aviation_Data